.banniere {
    background-image: url('../../assets/fond.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 500px;

}